/* Resetting default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

input {
    padding: 12px 20px;
    font-size: 16px;
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

button.btn {
    padding: 13px 24px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-transform: capitalize;
}

.btn:focus {
    border: none;
    outline: none;
}

button.btn:hover {
    background-color: #0056b3;
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 20px;
}

.container img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.name, .bio, .followers, .repos {
    font-size: 16px;
    color: #333;
}

.name span, .bio span, .followers span, .repos span {
    font-weight: 600;
    color: #007bff;
}

.container .bio {
    font-style: italic;
    color: #666;
    margin-top: 8px;
}

 @media (max-width: 450px) {

    input {
        width: 250px;
    }
}

/* @media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    input {
        width: 80%;
    }

    button.btn {
        width: 100%;
    }
} */
